/bin/ff*
/bin/mkv*
/_builds/*
**/node_modules/
/videos/*.json
/videos/*.ts
.DS_Store
ffmpeg
mkvmerge
token.yml
*.exe
*.dll
*.mkv
*.mp4
*.ass
*.srt
*.resume
*.user.yml
lib
test.*
updates.json
funi_token.yml
cr_token.yml
hd_profile.yml
hd_sess.yml
hd_token.yml
archive.json
fonts
.webpack/
out/
dist/
gui/react/build/
docker-compose.yml
crunchyendpoints
.vscode
